<div class="container centrado">
	<h1>Nuevo post</h1>
	<div class="row">
		<div class="centrado">
			<%= render 'form'%>
		</div>
	</div>
	<div class="row flecha" >
		<span><%= link_to 'Atras', root_path,class:"fas fa-arrow-circle-left" %></span>
	</div>
</div>
